node_modules/

# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
*.tfplan
*.tfplan.*
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/*.zip

test/integration/.credentials.json


**/__pycache__/
**/.pytest_cache/


marketing/.credentials.json
marketing/outputs/
marketing/metadata/
marketing/gimp