aws_region = "us-east-1"
environment = "prod"
project_name = "course-registration"
admin_email = "lewingtonpitsos@gmail.com"
from_email = "gday@fairdinkumsystems.com"
stripe_webhook_secret = "whsec_your_webhook_secret_here"
stripe_api_key = "some_key"