<!-- Navigation -->
<nav>
    <div class="nav-container">
        <h2 class="logo"><a href="index.html">A.I. AUTOMATION FOR NON-CODERS</a></h2>
        <ul class="nav-links">
            <li><a href="index.html#course">COURSE</a></li>
            <li><a href="index.html#success">NO CODE</a></li>
            <li><a href="index.html#instructor">INSTRUCTOR</a></li>
            <li><a href="index.html#faq">FAQ</a></li>
            <li><a href="register.html">REGISTER</a></li>
        </ul>
    </div>
</nav>