<!-- Navigation -->
<nav>
    <div class="nav-container">
        <div class="nav-header">
            <img src="assets/images/crossedkeys_150x150.png" alt="Logo" class="header-logo">
            <h2 class="logo"><a href="index.html">A.I. AUTOMATION FOR NON-CODERS</a></h2>
        </div>
        <div class="nav-menu">
            <ul class="nav-links">
                <!-- <li><a href="index.html#course">COURSE</a></li>
                <li><a href="index.html#success">NO CODE</a></li>
                <li><a href="index.html#instructor">INSTRUCTOR</a></li> -->
                <li><a href="index.html">COURSE</a></li>
                <li><a href="livestream.html">LIVESTREAM</a></li>
                <li><a href="apply.html">APPLY</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>